useDynLib(chunkR, .registration=TRUE)
export(reader)
export(matrix2df)
export(chunkR_devel)
exportMethods(next_chunk)
exportMethods(get_colnames)
exportMethods(get_matrix)
exportMethods(get_dataframe)
exportMethods(get_completed)
import(methods)
importFrom(Rcpp, evalCpp)
